h1{
	position: absolute;
	top: 30px;
	left: 80px;
	font-family:Copperplate;
	font-size: 30pt;
	font-weight: bold;
	z-index: -1;
}

.a1{
	position: absolute;
	top: 140px;
	left: 250px;
	font-size:17pt;
	font-family:Apple Chancery;
}

.background{
	position:absolute;
	top:0px;
	left:0px;
	z-index:-2;
}

.ShowTicket1{
	position: absolute;
	top: 110px;
	left: 230px;
	z-index:-1;
}

.ShowTicket{
	position: absolute;
	top: 170px;
	left: 250px;
}