.background{
	position:absolute;
	top:70px;
	left:160px;
	z-index:-2;
}

.Register{
	position:absolute;
	top:140px;
	left:280px;
	font-size:30pt;
	font-weight: bold;
	font-family:Apple Chancery;
	z-index:-1;
}

.RegisterBody{
	position:absolute;
	top:240px;
	left:280px;
	z-index:-1;
}

.word1{
	position:absolute;
	top:270px;
	left:260px;
	z-index:-1;
}