h1{
	position: absolute;
	top: 30px;
	left: 170px;
	font-family:Copperplate;
	font-size: 30pt;
	font-weight: bold;
	z-index: -1;
}

h2{
	position: absolute;
	top: 0px;
	left: 550px;
	font-size: 12pt;
	z-index; -1;
}

.a1{
	position: absolute;
	top: 140px;
	left: 250px;
	font-size:17pt;
	font-family:Apple Chancery;
}

h3{
	font-family:Apple Chancery;
}

a{
	font-family:Apple Chancery;
}

td{
	height: 50px;
}

.ShowTicket{
	position: absolute;
	top: 150px;
	left: 250px;
}
.ShowTicket22{
	position: absolute;
	top: 150px;
	left: 200px;
}
.ShowTicket1{
	position: absolute;
	top: 90px;
	left: 230px;
}
.ShowAllRequest{
	position: absolute;
	top: 160px;
	left: 100px;
}
.buyTicket1{
	position: absolute;
	top: 80px;
	left: 230px;
}

.ticket_pic{
	position: absolute;
	top:160px;
	left:80px;
}

.ShowTicket{
	position: absolute;
	top: 150px;
	left: 450px;
}

.description{
	position: absolute;
	top: 400px;
	left: 80px;
}