h1{
	position: absolute;
	top: 30px;
	left: 80px;
	font-family:Copperplate;
	font-size: 30pt;
	font-weight: bold;
	z-index: -1;
}
.ticketM_main{
	position: absolute;
	top: 160px;
	left: 220px;
	font-size:17pt;
	font-family:Apple Chancery;
}
.operation_list{
	position: absolute;
	top: 160px;
	left: 60px;
	font-size:17pt;
	font-family:Apple Chancery;
	
}
.title{
	position: absolute;
	top: 140px;
	left: 320px;
	font-size:15pt;
	font-weight: bold;
}
.background{
	position:absolute;
	top:0px;
	left:0px;
	z-index:-2;
}
.background2{
	position:absolute;
	top:800px;
	left:0px;
	z-index:-2;
}
.background3{
	position:absolute;
	top:1600px;
	left:0px;
	z-index:-2;
}
.ticket_form{
	position: absolute;
	top: 160px;
	left: 320px;
	font-size:12pt;
}

.ticket_form2{
	position: absolute;
	top: 180px;
	left: 420px;
	font-size:12pt;
}

.ticket_form3{
	position: absolute;
	top: 180px;
	left: 380px;
	font-size:12pt;
}

td{
	padding-top: 20px;
}

h3{
	position: absolute;
	top: 50px;
	left: 20px;
	font-family:Apple Chancery;
}

.ShowInfromation{
	position: absolute;
	top: 160px;
	left: 270px;
}

.userInfo{
	position: absolute;
	top: 60px;
	left: 20px;
}

.showALlPersonalOrders{
	position: absolute;
	top: 80px;
	left: 20px;
}

.missionComplete{
	position: absolute;
	top: 150px;
	left: 200px;
	font-size:17pt;
	font-family:Apple Chancery;
}

.ShowTicket1{
	position: absolute;
	top:120px;
	left: 80px;
	font-size:16pt;
}
.ShowAllRequest{
	position: absolute;
	top: 160px;
	left: 90px;
}
.ShowRequestDetail{
	position: absolute;
	top: 150px;
	left: 150px;
}
.secondTable{
	position: absolute;
	top: 0px;
	left: 350px;
}

.ticket_pic{
	position: absolute;
	top: 160px;
	left: 320px;
	font-size:12pt;
	
}

.ticket_form1{
	position: absolute;
	top: 380px;
	left: 320px;
	font-size:12pt;
}